{% extends "base.html" %} {% block docTitle %}{{article["title"]}}{% endblock %}
{% block content %}

<div class="card">
    <div class="card-heading">
        <div class="card-subheading">
            <h2>{{ article["title"] }}</h2>
                {% if username %}
            <a href="/edit/{{article['id']}}/{{username}}">
                <button class="edit-button icon-btn">
                    <img
                        src="{{url_for('static', path='images/icons/edit-icon.svg')}}"
                        alt="edit-icon"
                        class="icon" />Edit
                </button>
            </a>
            {% endif %}
        </div>
    </div>
    <div class="card-body">
        <div class="card-body-content">
            <p class="article-content">{{article["content"]}}</p>
        </div>
    </div>
    <small>{{ article["author"]}}</small>
    <small>{{ article["date"] }}</small>
    {% if username %}
    <a href="/delete/{{article['id']}}"></a>
            <button type="submit" class="delete-button icon-btn">
                <img
                    src="{{url_for('static', path='images/icons/trash.svg')}}"
                    alt="trash-icon"
                    class="icon" />Delete
            </button>
        </a>
        {% endif%}
</div>

{% endblock %}
