<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', path='css/styles.css')}}" />
        <title>{% block docTitle %}{% endblock %}</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">
                    <img
                        src="{{url_for('static', path='images/icons/logo.svg')}}"
                        alt="" />
                </a>
                <div>
                    <h1 class="header-heading">Blogs</h1>
                </div>
                {% if not username %}
                <a href="/profile" class="auth-btn">
                    <button>Log In</button>
                </a>
                {% elif username == "admin" %}
                <a href="/admin" class="auth-btn username">
                    <button>{{username}}</button>
                </a>
                {% else %}
                <a href="/profile" class="auth-btn username">
                    <button>{{username}}</button>
                </a>

                {% endif %}
            </nav>
        </header>
        <main>{% block content %} {% endblock %}</main>
    </body>
</html>
